In [9]:
import pandas as pd
import seaborn as sns

In [10]:
data = pd.read_csv('clean_layoffs.csv')

In [11]:
data.head()

,company,layoffs,report_date,Industry,HQ,company_status
0,Toast,550,2024-02-15,Point-of-sale platform,Boston,Public
1,Cisco,4250,2024-02-14,"Enterprise software, SaaS","San Jose, CA",Public
2,Upside Foods,16,2024-02-14,Alternative protein,"Berkeley, CA",Private
3,Paramount Global,800,2024-02-13,Logistics,"La Mirada, CA",Private
4,Instacart,250,2024-02-13,"Delivery, e-commerce",San Francisco,Public

In [12]:
data['report_date'] =  pd.to_datetime(data['report_date'], format='%Y-%m-%d')

In [13]:
data.dtypes

company                   object
layoffs                    int64
report_date       datetime64[ns]
Industry                  object
HQ                        object
company_status            object
dtype: object